body {
	background-repeat: no-repeat;
	background: linear-gradient(rgba(0, 157, 255, 1)  0%, rgba(210, 255, 31, 1)100%);
	background-size: 200% 200%;
    transition: background-position 0.5s ease-in-out;
}
a {
	text-decoration: none;
	color: inherit;
}
@keyframes appear-bottom-top {
	0% {
		opacity: 0;
		transform: translateY(+10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes appear-left-right {
	0% {
		opacity: 0;
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#hello-container {
	border: 3px solid;
	border-radius: 5em !important;
	border-image: linear-gradient(to right, rgba(0, 157, 255, 1)  0%, rgba(210, 255, 31, 1)100%) 1!important;

	border-right: 0px !important;
	border-bottom: 0px !important;
	border-top: 0px !important;
}
#hello-container > * {
	animation: 1s ease-in-out 0s 1 appear-left-right;
}
#projects {
	text-decoration: none;
	padding: 0px;
	list-style: none;
	border: 3px solid;
	border-radius: 5em !important;
	border-image: linear-gradient(to left, rgba(0, 157, 255, 1)  0%, rgba(210, 255, 31, 1)100%) 1!important;

	border-right: 0px !important;
	border-bottom: 0px !important;
}
#projects > li {
	padding-top: 1em;
	padding-bottom: 1em;

	transition: text-decoration 1s ease-in-out;

	animation: 1s ease-in-out 0s 1 appear-left-right;
}
card {
	z-index: -1;
}
li {
  position: relative;
}
li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.fa {
	cursor: pointer;
}
@media only screen and (min-width: 991px) {
  #light {
	  position: absolute;
	  width: 150px;
	  height: 150px;
	  background: white;
	  opacity: 0.5;
	  border-radius: 50%;
	  filter: blur(50px);
	  pointer-events: none; /* para que no bloquee el mouse */
	  transform: translate(-50%, -50%);
	}
}
